body{
  margin:0;
}
.body{
  background: black;
}
.second{
margin: 0 10em;
}
.third{
  margin: 0 10em;
}
@media screen and (max-width:769px){
  .body{
    background: white;
  }
  .second{
    margin: 0;
  }
  .third{
    margin: 0;
    background: black;
  }
}

