<div id='main' class="main">
  <div class="header">
    <a routerLink='/Free'><h3>Бесплатно</h3></a>
    <a routerLink="/Blog"><h3>Блог</h3></a>
    <a routerLink="/Seminar"><h3>Семинары</h3></a>
    <a routerLink="/Training"><h3>Трейнинги</h3></a>
    <a routerLink="/Usl"><h3>Услуги</h3></a>
    <a routerLink="/Otz"><h3>Отзывы</h3></a>
    <a routerLink="/Contact"><h3>Контакты</h3></a>
    <div class="icon">
      <a href="https://www.instagram.com/?hl=ru"><i class="fab fa-instagram" id="insta"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square" id="fb"></i></a>
      <a href="https://vk.com/?lang=en"><i class="fab fa-vk" id="vk"></i></a>
    </div>
    <div class="number">
      <p class="first">8(800)707-05-13</p>
      <p class="second">+7(499)350-23-35</p>
    </div>
  </div>
  <div class="logo">
    <img src="../../../assets/img/IMG_4656.png">
    <h3>НАША МИССИЯ:</h3>
    <h4>МИЛЛИОН КРАСИВО ОДЕТЫХ ЖЕНЩИН</h4>
  </div>
</div>

<!-- <a href='#main'>fghjkl;gyfghjk</a> -->
